.row {
    display: flex;

}

/* Create two unequal columns that floats next to each other */
/* .column {
    float: left;
    padding: 10px;
} */
  
.left {
    width: clamp(50%, 200px, 50%);
    height:900px;
    background: url(./photo.avif) no-repeat center;
    background-size: cover;
    background-position: center center;
    flex: 
    /* width: 50%; */
}

.right {
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}