@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #1f2937;
    padding: 1em 12em;
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

ul.links {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    list-style-type: none;
    gap: 1.5em;
}

ul.links a {
    text-decoration: none;
}
.hero {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.secondary {
    font-size: 18px;
    color: #e5e7eb;
}

.logo {
    font-size: 24px;
    color: #f9faf8
}

#welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    padding: 7em 0;
}

#welcome .intro {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#welcome .image {
    display: flex;
    background-color: gray;
    flex-shrink: 0;
    width: 50%;
    height: 215px;
    align-items: center;
    justify-content: center;
}

button {
    padding: 0.2em 1em;
    background-color: #3882f6;
    border: none;
    width: 6em;
    height: 3em;
    border-radius: 8px;
}

#information {
    padding: 2em 10em;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#information .header {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    padding: 0.5em;
}

#circulation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2em;
}

#circulation .window {
    display: flex;
    flex-direction: column;
    width: 10em;

}

#circulation .windowImg {
    height: 10em;
    border:3px solid #3882f6;
    border-radius: 8px;

}
