@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

#main {
    border:1px solid #3882f6;
    width: 70em;
    height: 70em;
    display: flex;
    flex-direction: column;
}

#main .row {
    display: flex;
    flex-direction: row;
    /* flex-flow: row wrap; */
    justify-content: space-around;
    align-items: stretch;
}

#main .column {
    border:1px solid green;

}

.active {
    background-color: green;
}
